*{
    background-color: rgb(212, 211, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-size: 1.5em;
}

li {
    
}